<div class="modal-header" style="background-color:#FFC0CB">
  
  <h4 class="modal-title" id="myModalLabel" class="text-lowercase">Editar</h4>
</div>
<div class="modal-body" style="background-color:#FFC0CB">
  <%= render 'form' %>
</div>
