
@import "bootstrap";

$body-bg: #e2e2e2;

$theme-colors: (
  "primary": #FF304F,
  "secondary": #CACACA,
  "success": #015668,
  "info": #0F81C7,
  "warning": #0DE2EA,
  "danger": #06648C,
  "light": #ececec,
  "dark": #222222
);


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


